@model ArtigoFormViewModel

@{
    ViewBag.Title = "Escrever Artigo";
    Layout = "_Layout";
}

<div class="container-sm py-4">
    <h2>Escrever Artigo</h2>
    <div class="row">
        <form asp-controller="Artigos" asp-action="Escrever" method="post">
            <div class="d-flex flex-column py-4 col-12">
                <div class="d-flex flex-column mb-4">
                    @* titulo *@
                    <label asp-for="Titulo" class="form-label">Título</label>
                    <input type="text" asp-for="Titulo" class="form-control"/>
                    <span asp-validation-for="Titulo" class="form-text"></span>
                </div>
                <div class="d-flex flex-column mb-4">
                    @* gancho *@
                    <label asp-for="Gancho" class="form-label">Gancho</label>
                    <input type="text" asp-for="Gancho" class="form-control" placeholder="Pequeno parágrafo inicial (Máximo 255 caracteres)"/>
                    <div class="d-flex align-items-center justify-content-between">
                        <span asp-validation-for="Gancho" class="form-text"></span>
                        <span><span id="gancho-char">0</span> Caracteres</span>
                    </div>
                </div>
                <div class="d-flex flex-column mb-4">
                    @* texto *@
                    <label asp-for="Texto" class="form-label">Texto Principal do Artigo</label>
                    <textarea asp-for="Texto" class="form-control text-h" placeholder="Texto Principal do Artigo (Mínimo 1000 caracteres)"></textarea>
                    <div class="d-flex align-items-center justify-content-between">
                        <span asp-validation-for="Texto" class="form-text"></span>
                        <span><span id="text-char">0</span> Caracteres</span>
                    </div>
                </div>
                <div class="d-flex flex-column mb-4">
                    @* referencias *@
                    <label asp-for="Referencias" class="form-label">Referências</label>
                    <textarea asp-for="Referencias" class="form-control" placeholder="Referências Ssadas no Artigo (Máximo 255 caracteres)"></textarea>
                    <div class="d-flex align-items-center justify-content-between">
                        <span asp-validation-for="Referencias" class="form-text"></span>
                        <span><span id="ref-char">0</span> Caracteres</span>
                    </div>
                </div>
                <div class="d-flex flex-column mb-4">
                    @* imagem *@
                    <label asp-for="Imagem" class="form-label">Link da Imagem</label>
                    <input type="text" asp-for="Imagem" class="form-control"/>
                    <span asp-validation-for="Imagem" class="form-textz"></span>
                </div>
                <div>
                    <button type="submit" class="btn button-primary">Enviar Artigo</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        const url = window.location.href;
        const id = url.substring(url.lastIndexOf('/') + 1);
        console.log(url);
        $.ajax({
            url: `/Pautas/GetConteudoPauta?id=${id}`,
            type: 'GET'
        }).done(function (response) {
            $("#Titulo").val(response.titulo);
            $("#Texto").val(response.descricao);
            $("#Imagem").val(response.imagem);
        }).fail(function (err) { console.log(err);});
        
        $("#Gancho").on("input", function () {
            $("#gancho-char").text(this.value.length);
        });
        
        $("#Texto").on("input", function () {
            $("#text-char").text(this.value.length);
        });
        $("#Referencias").on("input", function () {
            $("#ref-char").text(this.value.length);
        })
    });
</script>
